.news-container {
    padding: 0 350px;
    margin-bottom: 20px;

    .news-title {
        margin-bottom: 20px;

        .news-date {
            color: rgb(232, 42, 42);
            font-style: italic;

        }
    }

    .news-content {
        font-size: 20px;
        text-align: justify;
        font-family: 'Times New Roman', Times, serif;

        img {
            width: 100%;
        }
    }
}